<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="true"
         bootstrap="./bootstrap/unit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         verbose="false"
         strict="true">

  <testsuites>
    <testsuite name="myDoctrineRowSecurityPluginTests">
      <directory>./unit/</directory>
    </testsuite>
  </testsuites>

</phpunit>
